.polkio-container {
  min-height: 100vh;
}
.polkio-polkio {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(10, 10, 13, 1);
}
.polkio-headergradient {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.polkio-container1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.polkio-image {
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.polkio-footergradient {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100vh;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
}
.polkio-container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.polkio-image1 {
  left: 0px;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.polkio-credit {
  left: 0px;
  right: 0px;
  width: 161px;
  bottom: var(--dl-space-space-sixunits);
  margin: auto;
  display: flex;
  opacity: 0.80;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.polkio-text {
  color: var(--dl-color-dark-lightgray);
  height: auto;
  align-self: auto;
  text-align: right;
  line-height: 24px;
  margin-right: 2px;
  margin-bottom: 0;
}
.polkio-text02 {
  color: var(--dl-color-dark-lightgray);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.polkio-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
}
.polkio-p-o-l-k-i-o1 {
  width: 215px;
  height: 95px;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.polkio-text04 {
  width: 520px;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Bahnschrift, Inter, Arial;
  font-weight: 300;
  line-height: 33px;
  padding-top: var(--dl-space-space-twounits);
  font-stretch: normal;
  text-decoration: none;
}
.polkio-text05 {
  color: #a8d6f0;
}
.polkio-text07 {
  color: #5fa5e5;
}
.polkio-text08 {
  color: #7d9cae;
}
.polkio-text09 {
  color: #a8d6ef;
}
.polkio-text10 {
  color: #dbb987;
}
.polkio-text11 {
  color: #dbb987;
}
.polkio-text12 {
  color: #7d9cae;
}
.polkio-text13 {
  color: #25d9a3;
}
.polkio-text14 {
  color: #25d9a3;
}
.polkio-text15 {
  color: #7d9cae;
}
.polkio-text16 {
  color: #de305a;
  font-style: normal;
}
.polkio-text18 {
  color: #a8d6ef;
}
.polkio-short-bio {
  width: 100%;
  display: flex;
  align-self: center;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.polkio-frame1965 {
  top: 350px;
  left: 0px;
  right: 0px;
  width: 248px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.polkio-text20 {
  color: var(--dl-color-dark-lightgray);
  height: auto;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 18px;
  text-decoration: none;
}
.polkio-social-link {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.polkio-link {
  display: contents;
}
.polkio-icon-link {
  display: flex;
  padding: 16px;
  position: relative;
  box-sizing: content-box;
  transition: 0.3s;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 12px;
  text-decoration: none;
}
.polkio-icon-link:hover {
  background-image: linear-gradient(45deg, rgba(255, 0, 59, 0.13) 0.00%,rgba(0, 151, 222, 0.19) 100.00%);
}
.polkio-insta {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.polkio-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.polkio-vector {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.polkio-link01 {
  display: contents;
}
.polkio-icon-link1 {
  display: flex;
  padding: 16px;
  position: relative;
  box-sizing: content-box;
  transition: 0.3s;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 12px;
  text-decoration: none;
}
.polkio-icon-link1:hover {
  background-image: linear-gradient(45deg, rgba(255, 0, 59, 0.13) 0.00%,rgba(0, 151, 222, 0.19) 100.00%);
}
.polkio-twitter {
  width: 24px;
  height: 24px;
  position: relative;
}
.polkio-icon-link2 {
  display: flex;
  padding: 16px;
  position: relative;
  box-sizing: content-box;
  transition: 0.3s;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 12px;
}
.polkio-icon-link2:hover {
  background-image: linear-gradient(45deg, rgba(255, 0, 59, 0.13) 0.00%,rgba(0, 151, 222, 0.19) 100.00%);
}
.polkio-link02 {
  display: contents;
}
.polkio-linkedin {
  width: 24px;
  height: 24px;
  position: relative;
  text-decoration: none;
}
.polkio-link03 {
  display: contents;
}
.polkio-icon-link3 {
  display: flex;
  padding: 16px;
  position: relative;
  box-sizing: content-box;
  transition: 0.3s;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  padding-bottom: 16px;
  text-decoration: none;
}
.polkio-icon-link3:hover {
  background-image: linear-gradient(45deg, rgba(255, 0, 59, 0.13) 0.00%,rgba(0, 151, 222, 0.19) 100.00%);
}
.polkio-github {
  width: 24px;
  height: 24px;
  position: relative;
}
.polkio-links {
  top: 454px;
  left: 0px;
  right: 0px;
  width: fit-content;
  margin: auto;
  display: flex;
  overflow: visible;
  position: absolute;
  transform: scale(1);
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.polkio-main {
  width: 100%;
  display: flex;
  position: static;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  border-color: transparent;
  margin-right: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 35px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.polkio-img-link {
  width: 100%;
  height: 100%;
  position: relative;
  border-color: transparent;
  border-radius: 12px;
  margin-bottom: 16px;
}
.polkio-text22 {
  top: 81px;
  left: 21px;
  color: var(--dl-color-dark-lightgray);
  height: auto;
  margin: auto;
  opacity: 0.60;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.polkio-frame1966 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.polkio-link04 {
  display: contents;
}
.polkio-link05 {
  width: 202px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.polkio-image1 {
  width: auto;
  height: 100%;
  align-self: auto;
  transition: 0.2s;
  border-color: transparent;
  border-radius: 12px;
}
.polkio-image1:hover {
  filter: hue-rotate(155deg) contrast(120%);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: 18px;
}
.polkio-link06 {
  display: contents;
}
.polkio-link07 {
  width: 187px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.polkio-image2 {
  height: 100%;
  align-self: auto;
  transition: 0.2s;
  border-color: transparent;
  border-radius: 12px;
}
.polkio-image2:hover {
  filter: saturate(70%) hue-rotate(120deg);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: 18px;
}
.polkio-link08 {
  display: contents;
}
.polkio-link09 {
  width: 100%;
  display: flex;
  padding: 16px 20px;
  position: static;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  margin-bottom: 16px;
  justify-content: space-between;
  text-decoration: none;
}
.polkio-link09:hover {
  border-color: rgba(32, 187, 103, 0.8);
  border-style: hidden;
  background-image: linear-gradient(90deg, rgb(54, 181, 163) 0.00%,rgb(44, 62, 80) 100.00%);
}
.polkio-icontext {
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.polkio-social-media-vimeo {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.polkio-logo-container {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.polkio-group1 {
  top: 6.08695650100708px;
  left: 5.217391490936279px;
  width: 9.738014221191406px;
  height: 7.96189546585083px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.polkio-vector1 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 8px;
  position: absolute;
}
.polkio-text23 {
  color: var(--dl-color-dark-primarytext);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.polkio-right {
  width: 20px;
  height: 20px;
  opacity: 0.70;
  position: relative;
}
.polkio-link10 {
  display: contents;
}
.polkio-link11 {
  width: 100%;
  display: flex;
  padding: 16px 20px;
  position: static;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: space-between;
  text-decoration: none;
}
.polkio-link11:hover {
  border-color: #bf2525;
  border-style: hidden;
  background-image: linear-gradient(90deg, rgb(212, 33, 33) 0.00%,rgb(44, 62, 80) 97.00%);
}
.polkio-icontext1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.polkio-social-media-youtube {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.polkio-logo-container1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.polkio-vector2 {
  top: 6.000045299530029px;
  left: 4.400204181671143px;
  width: 11px;
  height: 8px;
  position: absolute;
}
.polkio-text24 {
  color: var(--dl-color-dark-primarytext);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.polkio-right1 {
  width: 20px;
  height: 20px;
  opacity: 0.70;
  position: relative;
}
.polkio-other {
  width: 100%;
  display: flex;
  position: static;
  align-self: center;
  align-items: center;
  border-color: transparent;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.polkio-text25 {
  color: var(--dl-color-dark-lightgray);
  height: auto;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.polkio-link12 {
  display: contents;
}
.polkio-link13 {
  width: 100%;
  display: flex;
  padding: 16px 20px;
  position: static;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  margin-bottom: 16px;
  justify-content: space-between;
  text-decoration: none;
}
.polkio-link13:hover {
  border-color: rgba(210, 49, 49, 0.88);
  border-style: none;
  background-image: linear-gradient(270deg, rgb(212, 33, 33) 18.00%,rgb(41, 58, 74) 94.00%);
}
.polkio-icontext2 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.polkio-social-media-pinterest {
  width: 26px;
  height: 26px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.polkio-logo-container2 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
  border-color: transparent;
}
.polkio-vector3 {
  top: 6.500049591064453px;
  left: 8.05961799621582px;
  width: 10px;
  height: 13px;
  position: absolute;
}
.polkio-text26 {
  color: var(--dl-color-dark-primarytext);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.polkio-anglearrow {
  width: 20px;
  height: 20px;
  opacity: 0.70;
  position: relative;
}
.polkio-link14 {
  display: contents;
}
.polkio-link15 {
  width: 100%;
  display: flex;
  padding: 16px 20px;
  position: static;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: space-between;
  text-decoration: none;
}
.polkio-link15:hover {
  border-color: rgba(228, 202, 44, 0.75);
  border-style: none;
  background-image: linear-gradient(90deg, rgb(175, 88, 204) 0.00%,rgb(44, 62, 80) 100.00%);
}
.polkio-icontext3 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.polkio-imgicongumroad {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.polkio-gumroad {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.polkio-text28 {
  color: var(--dl-color-dark-primarytext);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.polkio-anglearrow1 {
  width: 20px;
  height: 20px;
  opacity: 0.70;
  position: relative;
}
@media(max-width: 991px) {
  .polkio-container1 {
    height: 100%;
  }
  .polkio-image {
    height: 100%;
  }
  .polkio-image1 {
    height: 100%;
  }
  .polkio-text05 {
    color: #a8d6f0;
  }
  .polkio-text06 {
    color: #5fa5e5;
  }
  .polkio-text07 {
    color: #5fa5e5;
    font-style: normal;
    font-weight: 400;
  }
  .polkio-text08 {
    color: #7d9cae;
  }
  .polkio-text09 {
    color: #a8d6ef;
    font-weight: 400;
  }
  .polkio-text10 {
    color: #dbb987;
    font-style: normal;
    font-weight: 400;
  }
  .polkio-text11 {
    color: #dbb987;
    font-weight: 300;
  }
  .polkio-text12 {
    color: #7d9cae;
  }
  .polkio-text13 {
    color: #25d9a3;
    font-weight: 400;
  }
  .polkio-text14 {
    color: #25d9a3;
    font-weight: 300;
  }
  .polkio-text15 {
    color: #7d9cae;
  }
  .polkio-text16 {
    color: #e04a6e;
    font-style: normal;
    font-weight: 400;
  }
  .polkio-text18 {
    color: #a8d6ef;
  }
  .polkio-text19 {
    color: #a8d6ef;
  }
  .polkio-link13 {
    width: 100%;
  }
  .polkio-link15 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .polkio-text04 {
    width: 300px;
  }
  .polkio-links {
    width: 100%;
  }
}
